#background {
    display: block;
    background-size: auto;
    background-repeat: repeat-x;
    background-color: rgb(80,164,252);
    height: 150px;
}

* {
    box-sizing: border-box;
    margin: 0;
  }


#container {
    width: 100%;
    margin: 0 auto;
}