/* Descrizione header */
.pattern {
    background: url("../img/pattern.png");
    background-color: rgb(80,164,252);
    background-size: auto 150px;
    background-repeat: repeat;
    height: 80px;
    padding-top: 5px;

}

#logo {
    height: 70px;
    margin: auto;
    padding-top: 30px;
}

/* Fine descrizione header  */

* {
    box-sizing: border-box;
    margin: 0;
  }

body {
    width: 1010px;
    margin: auto;
}


/* Specifiche colore sottotitoli e data  */
.sottotitolo.blue {
    color: blue;
}

.sottotitolo.grigio {
    color: gray;
}
#data {
  font-size: 14px;
  color: gray;;
}

/* Immagini inizio pagina */

.didascalia.immagini {
    background-size: cover;
    font-size: small;
    font-style: italic;
    
}

#tim {
    top: 50%;
    left: 50%;
    margin-top: 0%;

}

#lee {
    top: 50%;
    right: 50%;
    margin-top: 0%;
    
}
